* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
  }

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF,#00FF6C);
}
.calculator , .output , .btn-container , .top-btn , .btn-grid {
    display: flex;
    border: 1px solid black;
}
.calculator {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.output {
    font-size: 3rem;
    border: 1px solid #4289a7;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    padding-top: 39px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.output .previous-operand {
    font-size: 1.5rem;
}

.output .current-operand {
    font-size: 2.5rem;
}

.btn-container{
    flex-direction: column;
}
.top-btn {
    padding: 0.5rem;
}
.btn-grid{
    flex-direction: column;
}

.row1 , .row2, .row3 , .row4 {
    display: flex;
    justify-content: space-evenly;
}
.btn {
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid whitesmoke;
    background-color: rgba(255,255,255,.75);
    padding: 0.5rem;

}

.btn:hover{
    background-color: rgba(255,255,255,.90);
}